<div class="previous-month previous-month--april">

  <header class="previous-month-header previous-month-header--april">
    <h3><a href="#" class="previous-month-header__toggle" data-icon="+">24th April, 2013</a></h3>
  </header>

  <div class="previous-month-speakers speakers-list twelve-columns">

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/ricky_clegg">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/04/ricky.png" alt="Ricky Clegg" width="140" height="140">
        </div>
        <h3>Ricky Clegg</h3>
      </a>

      <em class="speaker-company">Burrows</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/Rumyra">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/04/ruth.jpg" alt="Ruth John" width="140" height="140">
        </div>
        <h3>Ruth John</h3>
      </a>

      <em class="speaker-company">TheLab</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/patrickhamann">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/04/patrick.jpg" alt="Patrick Hamann" width="140" height="140">
        </div>
        <h3>Patrick Hamann</h3>
      </a>

      <em class="speaker-company">the Guardian</em>
    </div>

  </div>
</div>
