<div class="previous-month previous-month--february">

  <header class="previous-month-header previous-month-header--february">
    <h3><a href="#" class="previous-month-header__toggle">28th February, 2013</a></h3>
  </header>

  <div class="previous-month-speakers speakers-list twelve-columns">

    <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/almonk">
          <div class="speaker-profile-img">
            <img src="images/speakers/2013/02/al-monk.jpeg" alt="Alasdair Monk" width="140" height="140">
          </div>
          <h3>Alasdair Monk</h3>
        </a>

        <em class="speaker-company">GoCardless</em>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/tiny_m">
          <div class="speaker-profile-img">
            <img src="images/speakers/2013/02/mairead.jpg" alt="Mairead Buchan" width="140" height="140">
          </div>
          <h3>Mairead Buchan</h3>
        </a>

        <em class="speaker-company">Head London</em>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/Jack_Franklin">
          <div class="speaker-profile-img">
            <img src="images/speakers/2013/02/jack.jpeg" alt="Jack Franklin" class="speaker-profile-image" width="140" height="140">
          </div>
          <h3>Jack Franklin</h3>
        </a>

        <em class="speaker-company">Javascript Playground</em>
      </div>

  </div>
</div>