<div class="previous-month previous-month--july">

  <header class="previous-month-header previous-month-header--july">
    <h3><a href="#" class="previous-month-header__toggle" data-icon="+">25th July, 2013</a></h3>
  </header>

  <div class="previous-month-speakers speakers-list twelve-columns">

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/phae">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/07/frances.jpg" alt="Frances Berriman" width="140" height="140">
        </div>
        <h3>Frances Berriman</h3>
      </a>

      <em class="speaker-company">GDS</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/shaundunne">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/07/shaun.jpg" alt="Shaun Dunne" width="140" height="140">
        </div>
        <h3>Shaun Dunne</h3>
      </a>

      <em class="speaker-company">SapientNitro</em>
   </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/edds">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/07/edd.jpg" alt="Edd Sowden" width="140" height="140">
        </div>
        <h3>Edd Sowden</h3>
      </a>

      <em class="speaker-company">GDS</em>
    </div>

  </div>

</div>