<div class="previous-month previous-month--june">

  <header class="previous-month-header previous-month-header--june">
    <h3><a href="#" class="previous-month-header__toggle" data-icon="+">27th June, 2013</a></h3>
  </header>

  <div class="previous-month-speakers speakers-list twelve-columns">

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/BPScott">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/06/ben.jpg" alt="Ben Scott" width="140" height="140">
        </div>
        <h3>Ben Scott</h3>
      </a>

      <em class="speaker-company">BBC</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/clare_lisbeth">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/06/clare.jpg" alt="Clare Evans" width="140" height="140">
        </div>
        <h3>Clare Evans &amp; Mark Jones</h3>
      </a>

      <em class="speaker-company">Kaldor</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/joshje">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/06/josh.jpeg" alt="Josh Emerson" width="140" height="140">
        </div>
        <h3>Josh Emerson</h3>
      </a>

      <em class="speaker-company">Clearleft</em>
    </div>

  </div>

</div>