<div class="previous-month previous-month--march">

  <header class="previous-month-header previous-month-header--march">
    <h3><a href="#" class="previous-month-header__toggle">28th March, 2013</a></h3>
  </header>

  <div class="previous-month-speakers speakers-list twelve-columns">
    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/joshje">
        <div class="speaker-profile-img">
          <img src="images/speakers/2013/03/josh.jpeg" width="140" height="140">
        </div>
        <h3>Josh Emerson</h3>
      </a>

      <em class="speaker-company">Clearleft</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/philnash">
        <div class="speaker-profile-img">
          <img src="images/speakers/2013/03/phil.jpg" width="140" height="140">
        </div>
        <h3>Phil Nash</h3>
      </a>

      <em class="speaker-company">Mint Digital</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/paulrobertlloyd">
        <div class="speaker-profile-img">
          <img src="images/speakers/2013/03/paul.png" class="speaker-profile-image" width="140" height="140">
        </div>
        <h3>Paul Lloyd</h3>
      </a>

      <em class="speaker-company">Clearleft</em>
    </div>

  </div>
</div>