<div class="previous-month previous-month--may">

  <header class="previous-month-header previous-month-header--may">
    <h3><a href="#" class="previous-month-header__toggle" data-icon="+">30th May, 2013</a></h3>
  </header>

  <div class="previous-month-speakers speakers-list twelve-columns">

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/ianfeather">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/05/ian.jpg" alt="Ian Feather" width="140" height="140">
        </div>
        <h3>Ian Feather</h3>
      </a>

      <em class="speaker-company">Lonely Planet</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/siavashg">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/05/siavash.jpg" alt="Ruth John" width="140" height="140">
        </div>
        <h3>Siavash Ghorbani</h3>
      </a>

      <em class="speaker-company">Tictail</em>
    </div>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/jaffathecake">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/05/jake.jpg" alt="Jake Archibald" width="140" height="140">
        </div>
        <h3>Jake Archibald</h3>
      </a>

      <em class="speaker-company">Google</em>
    </div>

  </div>
</div>
