.call-for-speakers {
  background: $current-month;
  color: #fff;
  padding: 30px 0;
}

.call-for-speakers:before {
  content: "";
  display: block;
  width: 0; height: 0;
  border-bottom: 16px solid $current-month;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  position: absolute;
  margin: -46px 0 0 -16px;
  left: 50%;
}

.call-for-speakers p {
  margin: 0;
}

.call-for-speakers a {
  color: #fff;
}

.call-for-speakers a:hover {
  color: darken(#fff,10%);
}

.site-footer  {
  padding: 10px 0;
  background-color: #505050;
}

.site-footer p {
  margin: 1.3em 0;
  font-family: 'Proxima Nova';
  color: #fff;
}

.site-footer a {
  color: inherit;
}

.company-info {
  text-align: right;
}

.mxm-icon {
  font-family: 'fel';
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color:#fff;
  font-size: 38px;
}

.social-links {
  font-size: 0.9em;
}

.site-footer__icon:before {
  display: inline-block;
  font-size: 23px;
  vertical-align: middle;
  margin-right:12px;
}

.lt-ie9 .mxm-icon,
.lt-ie9 .site-footer__icon:before {
  display:none
}
