.site-header {
  position: relative;
  padding: 50px;
  background: url("../images/backgrounds/diespeker_small-march.jpg") no-repeat center center $current-month;
  background-size: cover;
  text-align: center;

  @media (min-width: 30em) {
    background-image: url(../images/backgrounds/diespeker-march.jpg);
  }
}

.site-header__primary,
.site-header__secondary {
  position: relative;
  z-index: 1;
}

.site-header__secondary {
  margin-top: 50px;
}

