.previous-events  {
  padding-top: 50px;
}

.previous-events-inner {
  border-top: 1px dotted #D2D2D2;
}

.previous-months {
  margin: 50px 0 60px 0;
}

.previous-month {
  margin: 0 0 20px 0;
}

.previous-month-speakers {
  margin-top: 0;
  padding: 20px 0;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
}

.writeups {
  padding: 0 1em;
}

.js .previous-month-speakers {
  display: none;
}

.js .previous-month--is-active .previous-month-speakers {
  display: block;
}

.previous-events-title {
  width: 180px;
}

.previous-month-header {
  padding: 0 30px;
  border-radius: 3px 3px 0 0;
}

.previous-month-header h3 {
  font-size: 1.6em;
  line-height: 3;
  font-weight: bold;
  color: #fff;
}

.previous-month-header__toggle {
  text-decoration: none;
  display: block;
}

.previous-month-header__toggle:before {
  float: right;
  line-height:3;
  @include transform(rotate(0deg));
  @include transition(all, 0.1s, ease-in);
}

.previous-month--is-active .previous-month-header__toggle:before {
  @include transform(rotate(-45deg));
}

a.previous-month-header__toggle,
a.previous-month-header__toggle:visited {
  color: #fff;
}

a.previous-month-header__toggle:hover {
  text-decoration: underline;
}

.previous-month-header--january { background-color: $january; }
.previous-month--january .speaker h3,
.previous-month--january .speaker a { color: $january; }
.previous-month--january .speaker-profile-img:before { background-color: rgba($january, 0.5%); }

.previous-month-header--february { background-color: $february; }
.previous-month--february .speaker h3,
.previous-month--february .speaker a { color: $february; }
.previous-month--february .speaker-profile-img:before { background-color: rgba($february, 0.5%); }

.previous-month-header--march { background-color: $march; }
.previous-month--march .speaker h3,
.previous-month--march .speaker a { color: $march; }
.previous-month--march .speaker-profile-img:before { background-color: rgba($march, 0.5%); }

.previous-month-header--april { background-color: $april; }
.previous-month--april .speaker h3,
.previous-month--april .speaker a { color: $april; }
.previous-month--april .speaker-profile-img:before { background-color: rgba($april, 0.5%); }

.previous-month-header--may { background-color: $may; }
.previous-month--may .speaker h3,
.previous-month--may .speaker a { color: $may; }
.previous-month--may .speaker-profile-img:before { background-color: rgba($may, 0.5%); }

.previous-month-header--june { background-color: $june; }
.previous-month--june .speaker h3,
.previous-month--june .speaker a { color: $june; }
.previous-month--june .speaker-profile-img:before { background-color: rgba($june, 0.5%); }

.previous-month-header--july { background-color: $july; }
.previous-month--july .speaker h3,
.previous-month--july .speaker a { color: $july; }
.previous-month--july .speaker-profile-img:before { background-color: rgba($july, 0.5%); }

.previous-month-header--august { background-color: $august; }
.previous-month--august .speaker h3,
.previous-month--august .speaker a { color: $august; }
.previous-month--august .speaker-profile-img:before { background-color: rgba($august, 0.5%); }

.previous-month-header--october { background-color: $october; }
.previous-month--october .speaker h3,
.previous-month--october .speaker a { color: $october; }
.previous-month--october .speaker-profile-img:before { background-color: rgba($october, 0.5%); }

.previous-month-header--november { background-color: $november; }
.previous-month--november .speaker h3,
.previous-month--november .speaker a { color: $november; }
.previous-month--november .speaker-profile-img:before { background-color: rgba($november, 0.5%); }