@font-face {
  font-family: 'Cooper Hewitt';
  src: font-url('CooperHewitt-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: font-url('Calibre-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$color-box-primary: rgb(50, 0, 50);
$color-box-secondary: rgb(185, 0, 70);
$color-box-secondary-contrast: mix($color-box-secondary, #fff, 20%);
$color-box-tertiary: rgb(255, 70, 0);
$color-box-tertiary-contrast: desaturate(lighten($color-box-tertiary, 60%), 85%);
$color-highlight: rgb(255, 160, 0);

$font-primary: 'Cooper Hewitt', Georgia, serif;
$font-secondary: 'Calibre', Helvetica, sans-serif;

$breakpoint-a: 380px;
$breakpoint-b: 640px;
$breakpoint-c: 1024px;

$gradient-fel: radial-gradient(circle 1400px at 300px center, $color-box-secondary 0%, $color-box-tertiary 100%);

@function light-on-dark($color) {
  @return desaturate(lighten($color, 50%), 20%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: $font-primary;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

input,
button,
textarea {
  outline: none;
}

address {
  font-style: normal;
}

img {
  border: none;
}

.nobr {
  white-space: nowrap;
}

@import 'patterns/background';
@import 'patterns/body';
@import 'patterns/button';
@import 'patterns/container';
@import 'patterns/heading';
@import 'patterns/text-box';

@import 'modules/about';
@import 'modules/archive';
@import 'modules/archived-event';
@import 'modules/archived-speaker';
@import 'modules/awaiting-speakers';
@import 'modules/call-for-speakers';
@import 'modules/conduct';
@import 'modules/event';
@import 'modules/footer';
@import 'modules/header';
@import 'modules/info';
@import 'modules/lineup';
@import 'modules/mailing-list';
@import 'modules/speaker';
@import 'modules/speaking';
