@font-face {
  font-family: 'Sina Nova';
  src: font-url('SinaNovaReg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sina Nova';
  src: font-url('SinaNovaBold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

$color-box-primary: rgb(0, 60, 185);
$color-box-secondary: rgb(185, 0, 70);
$color-box-tertiary: rgb(0, 45, 45);
$color-box-tertiary-contrast: desaturate(lighten($color-box-tertiary, 60%), 85%);
$color-highlight: rgb(255, 160, 0);

$font-primary: 'Sina Nova', Georgia, serif;
$font-secondary: 'Puritan', Helvetica, sans-serif;

$breakpoint-a: 380px;
$breakpoint-b: 640px;
$breakpoint-c: 1024px;

@function light-on-dark($color) {
  @return desaturate(lighten($color, 50%), 20%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: $font-primary;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

input,
button,
textarea {
  outline: none;
}

address {
  font-style: normal;
}

img {
  border: none;
}

@import 'patterns/background';
@import 'patterns/body';
@import 'patterns/button';
@import 'patterns/container';
@import 'patterns/heading';
@import 'patterns/text-box';

@import 'modules/about';
@import 'modules/archive';
@import 'modules/archived-event';
@import 'modules/archived-speaker';
@import 'modules/conduct';
@import 'modules/event';
@import 'modules/footer';
@import 'modules/header';
@import 'modules/info';
@import 'modules/intro';
@import 'modules/lineup';
@import 'modules/mailing-list';
@import 'modules/speaker';
@import 'modules/speaking';
