/*
  Variables
*/

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($property, $duration, $function) {
  -webkit-transition: $property $duration $function;
  -moz-transition: $property $duration $function;
  -o-transition: $property $duration $function;
  transition: $property $duration $function;
}

@mixin transition-delay($property, $duration, $delay, $function) {
  -webkit-transition: $property $duration $delay $function;
  -moz-transition: $property $duration $delay $function;
  -o-transition: $property $duration $delay $function;
  transition: $property $duration $delay $function;
}

$base-font-size: 1.2em;
$large-font-size: 1.5em;

$january: #33a687;
$february: #3ebeb3;
$march: #29a6b5;
$april: #328bc4;
$may: #6f3e86;
$june: #d33656;
$july: #db5131;
$august: #b95c14;
$september: #e68640;
$october: #b08a3e;
$november: #6d8646;
$december: #327c2e;

// Change to switch colour scheme
$current-month: $august;

/*
  Fonts
*/

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-reg-webfont.eot');
    src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-reg-webfont.woff') format('woff'),
         url('fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sina Nova';
    src: url('fonts/SinaNovaReg-webfont.eot');
    src: url('fonts/SinaNovaReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinaNovaReg-webfont.woff') format('woff'),
         url('fonts/SinaNovaReg-webfont.ttf') format('truetype'),
         url('fonts/SinaNovaReg-webfont.svg#SinaNova-RegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

html, button, input, select, textarea { font-family: 'Proxima Nova', sans-serif; color: #515151; }

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #fff0a0;
  color: inherit;
  text-shadow: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Proxima Nova';
}

h1, .h1 { font-size: 2em; }
h2, .h2 { font-size: 1.5em; }
h3, .h3 { font-size: 1.17em; }
h4, .h4 { font-size: 1em; }
h5, .h5 { font-size: 0.83em; }
h6, .h6 { font-size: 0.67em; }

a, a:visited { color: $current-month; }
a:hover { color: darken($current-month, 10%); }

body {
  background-color: #f7f6f5;
  min-width: 320px;
}

.date-ordinal {
  vertical-align: super;
  font-size: .6em;
}

.site-width {
  max-width: 960px;
  padding: 0 10px;
  margin: 0pt auto;
}

.cta {
  text-transform: uppercase;
  border: 3px solid $current-month;
  text-decoration: none;
  padding: 15px;
  padding-top: 18px;
  color: $current-month;
  border-radius: 2px;
}

.cta--transition {
  @include transition(all, 0.07s, ease-in);

  &:hover {
    @extend .cta--dark;
  }
}

.cta--primary {
  @extend .cta;
  @extend .cta--transition;
  font-family: 'Proxima Nova';
  font-weight: bold;
  display: block;
  margin: 40px auto;
  padding: 20px;
  padding-top: 23px;
  max-width: 180px;
  text-align: center;
}

.cta--dark {
  background-color: $current-month;
  color: #fff;
}

.column {
  padding: 1em;
}
