/*
  Variables
*/

$base-font-size: 1.2em;
$large-font-size: 1.5em;

$january: #33a687;
$february: #3ebeb3;
$march: #29a6b5;
$april: #328bc4;
$may: #6f3e86;
$june: #d33656;
$july: #db5131;
$august: #b95c14;
$september: #e68640;
$october: #b08a3e;
$november: #6d8646;
$december: #327c2e;

// Change to switch colour scheme
$current-month: $march;

/*
  Fonts
*/

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-reg-webfont.eot');
    src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-reg-webfont.woff') format('woff'),
         url('fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sina Nova';
    src: url('fonts/SinaNovaReg-webfont.eot');
    src: url('fonts/SinaNovaReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinaNovaReg-webfont.woff') format('woff'),
         url('fonts/SinaNovaReg-webfont.ttf') format('truetype'),
         url('fonts/SinaNovaReg-webfont.svg#SinaNova-RegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, button, input, select, textarea { font-family: 'Proxima Nova', sans-serif; color: #515151; }

* {
  -webkit-font-smoothing: antialiased;
}

::selection { background: #fff0a0; color: inherit; text-shadow: none; }

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Proxima Nova';
}

h1, .h1 { font-size: 2em; }
h2, .h2 { font-size: 1.5em; }
h3, .h3 { font-size: 1.17em; }
h4, .h4 { font-size: 1em; }
h5, .h5 { font-size: 0.83em; }
h6, .h6 { font-size: 0.67em; }

a, a:visited { color: $current-month; }
a:hover { color: darken($current-month, 10%); }

body {
  background-color: #f7f6f5;
  min-width: 320px;
}

.date-ordinal {
  vertical-align: super;
  font-size: .6em;
}

.site-width {
  max-width: 960px;
  padding: 0 10px;
  margin: 0pt auto;
}

.primary-cta {
  font-family: 'Proxima Nova';
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  border: 3px solid $current-month;
  border-radius: 3px;
  text-decoration: none;
  border-radius: 2px;
  padding: 0 15px;
  margin: 40px auto 0pt auto;
  max-width: 180px;
  text-align: center;
  line-height: 4;
  color: $current-month;

  span {
    vertical-align: -.3em;
  }
}

.primary-cta:hover {
  background-color: $current-month;
  color: #fff;
}

.column {
  padding: 1em;
}