.call-for-speakers {
  background: $current-month;
  color: #fff;
  padding: 30px 0;
}

.call-for-speakers:before {
  content: "";
  display: block;
  width: 0; height: 0;
  border-bottom: 16px solid $current-month;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  position: absolute;
  margin: -46px 0 0 -16px;
  left: 50%;
}

.call-for-speakers p {
  margin: 0;
}

.call-for-speakers a {
  color: #fff;
}

.call-for-speakers a:hover {
  color: darken(#fff,10%);
}

.site-footer  {
  padding: 10px 0;
  background-color: #505050;
}

.site-footer p {
  margin: 1.3em 0;
  font-family: 'Proxima Nova';
  color: #fff;
}

.site-footer a {
  color: inherit;
}

.company-info {
  text-align: right;
}

.made-by-many-logo {
  display: inline-block;
  width: 140px;
  height: 24px;
  background: url("../images/mxm-logo.png") no-repeat 0 0;
}

.fel-twitter:before,
.fel-lanyrd:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 20px;
  margin-right: 0.8em;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.fel-twitter:before {
  background-image: url("../images/twitter-icon.png");
}

.fel-lanyrd:before {
  background-image: url("../images/lanyrd-icon.png");
}