.introduction {
  text-align: center;
  margin: 0 2em;
  padding: 20px 0;
}

.introduction p {
  font-size: 1.5em;
}

.speakers {
  margin: 50px 0 20px;
  padding: 0 0 40px 0;
  border-top: 1px dotted #d2d2d2;
}

.speakers-list {
  margin: 50px 0 0 0;
}

.speaker {
  text-align: center;
}

.speaker h3 {
  margin: 10px 0 0 0;
  color: #50bfa4;
}

.speaker em {
  color: #909090;
}

.speaker-profile-image {
  border-radius: 3px;
}

.speaker p {
  text-align: left;
}

.event-date {
  text-transform: uppercase;
  color: #909090;
  font-size: 1em;
  background: #f7f6f5;
  margin: -10px auto 0 auto;
  text-align: center;
  padding: 0 5px;
  width: 130px;
}

.event-information {
  background: #eae9e8;
  padding: 40px 0;
}

.jumbotron {
  background: url("../images/diespeker_green_01.jpg") no-repeat center center;
  background-size: cover;
  height: 220px;
  padding: 50px 20px;
}

.next-event-details {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 35px 0;
  height: 148px;
  max-width: 40em;
  margin: 0pt auto;
  text-align: center;
  color: #fff;
}

.next-event-details .next-event,
.next-event-details .next-event-date {
  font-family: 'Proxima Nova';
  font-weight: bold; 
  display: block;
}

.next-event-details .next-event {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.next-event-details .next-event-date {
  font-size: 3.5em;
  margin-bottom: 0.2em;
}

.next-event-details .next-event-time {
  font-size: 1.5em;
}

.next-event-details .next-event-bullet {
  margin: 0 10px;
}