.introduction {
  text-align: center;
  margin: 0 2em;
  padding: 20px 0;
}

.introduction p {
  font-size: 1.5em;
}

.speakers {
  margin: 50px 0 20px;
  padding: 0 0 40px 0;
  border-top: 1px dotted #d2d2d2;
}

.speakers-list {
  margin: 50px 0 0 0;
}

.speaker {
  text-align: center;
}

.speaker h3,
.speaker .h3 {
  margin: 10px 0 0 0;
  color: $current-month;
}

.speaker em {
  color: #909090;
}

.speaker-profile {
  text-decoration: none;
}

.speaker-profile:hover {
  text-decoration: underline;
}

.speaker-profile-img {
  position: relative;
  display: inline-block;
}

.speaker-profile-img img,
.speaker-profile-img:after {
  border-radius: 3px;
}

.speaker-profile-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($current-month, 0.5%) url("../images/twitter-icon-large.png") no-repeat center center;
  line-height: 140px;
  opacity: 0;
}

.speaker-profile:hover .speaker-profile-img:after {
  opacity: 1;
}

.speaker p {
  text-align: left;
}

.speaker-slides {
  display: block;
  text-align: center;
}

.divider-title {
  text-transform: uppercase;
  color: #909090;
  font-size: 1em;
  background: #f7f6f5;
  margin: -10px auto;
  text-align: center;
  padding: 0 5px;
  width: 130px;
}

.event-information {
  background: #eae9e8;
  padding: 40px 0;
}

.next-event-details {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 35px 0;
  height: 148px;
  max-width: 40em;
  margin: 0pt auto;
  text-align: center;
  color: #fff;
}

.next-event-details .next-event,
.next-event-details .next-event-date {
  font-family: 'Proxima Nova';
  display: block;
}

.next-event-details .next-event {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.next-event-details .next-event-date {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.next-event-details .next-event-time {
  font-size: 1.5em;
}

.next-event-details .next-event-bullet {
  margin: 0 10px;
}