@import "normalize";
@import "colors";
@import "icons";
@import "base";
@import "logo";

$color-primary: #8c6eff;
$color-primary-accent: darken($color-primary, 2%);

@font-face {
  font-family: "Nanami";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/nanami-regular-webfont.eot");
  src: url("fonts/nanami-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/nanami-regular-webfont.woff") format("woff"),
       url("fonts/nanami-regular-webfont.ttf") format("truetype");
}

@mixin nanami-offset {
  span {
    position: relative;
    top: .13em;
  }
}

.button {
  @extend .cta;
  @include transition(background-color, 50ms, linear);
  @include nanami-offset;
  padding: 1.2em;
  font-family: "Nanami", sans-serif;
  border: none;
  border-radius: 0;
}

.body-copy {
  font-size:24px;
}

.button--fixed {
  display: block;
  width: 14em;
  margin: auto;
  text-align: center;
}

.one-day {
  background-color: #fff;
  color: $color-primary;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.mxm-logo {
  display: block;
  width: 9em;
  margin: auto;
}

.wrap {
  max-width: 40em;
  margin: auto;
  padding: 1em;
}

.opening {
  background-image: url("../images/one-day/background-small.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.logo {
  display: block;
  margin: 2em 0;
  text-decoration: none;

  &,
  &:hover {
    color: #fff;
  }
}

.logo__fel {
  @extend .site-logo;
  color: #fff;
}

.logo__fel,
.logo__one-day {
  color: inherit;
}

.logo__one-day {
  @include nanami-offset;
  display: inline-block;
  padding: .08em .1em;
  border: .065em solid;
  border-left: none;
  border-right: none;
  font-family: "Nanami", sans-serif;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
}


// Sign up

.signup {
}

.signup__details {
  font-size: 1.2em;
  font-weight: bold;
}

.signup__blurb {
  margin: 2em 0;
  font-size: 24px;
}

.signup-form__title {
  @extend .h3;
}


// Sign-up form

.signup-form {
  margin: 3em 0;
}

.signup-form__title {
  margin-bottom: .5em;
}

.signup-form__email,
.signup-form__button {
  vertical-align: top;
  height: 52px;
  padding: 1em;
  border: 3px solid #fff;
  font-size: .8em;
}

.signup-form__email {
  @extend .unstyled-input;
  margin-right: .3em;
  font-weight: bold;
  color: #fff;

  &:invalid {
    box-shadow: none;
  }

  @include placeholder {
    color: #fff;
  }
}

.signup-form__button {
  @extend .button;
  @extend .button--light;
  padding: .95em 1em 1.05em;
  border-color: transparent;
  background-color: rgba(#fff, .9);

  &,
  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:hover,
  &:focus {
    background-color: #fff;
  }
}


// Content

.content {
  @extend .wrap;
  max-width:40em;
}

a.content-link {
  color:inherit;
  font-weight:bold;
}

.content__section {
  margin: 2.5em 0 3em;
}

.content__title {
  font-family: "Nanami", sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-transform: uppercase;
}

.content__title--main {
  margin-bottom: 1.5em;
  padding-bottom: .5em;
  border-bottom: 2px solid;
  font-size: 1.8em;
}

.content__cta {
  @extend .button;
  @extend .button--fixed;
  margin-top: 2em;
  background-color: $color-primary;

  &,
  &:hover,
  &:focus {
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: $color-primary-accent;
  }
}


@media (min-width: 40em) {
  .one-day {
    font-size: 1.2em;
  }

  .wrap {
    padding: 2em;
  }

  .opening {
    background-image: url("../images/one-day/background.jpg");
  }

  .logo__one-day {
    font-size: 4.2em;
  }
}
