.previous-events  {
  padding-top: 50px;
}

.previous-events-inner {
  border-top: 1px dotted #D2D2D2;
}

.previous-months {
  margin: 50px 0 60px 0;
}

.previous-month {
  margin: 0 0 20px 0;
}

.previous-month-speakers {
  margin-top: 0;
  padding: 20px 0;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
}

.previous-events-title {
  width: 180px;
}

.previous-month-header {
  padding: 0 30px;
  border-radius: 3px 3px 0 0;
}

.previous-month-header h3 {
  font-size: 1.6em;
  line-height: 3;
  font-weight: bold;
  color: #fff;
}

.previous-month-header--january { background-color: $january; }
.previous-month--january .speaker .h3,
.previous-month--january .speaker a { color: $january; }
.previous-month--january .speaker-profile-img:after { background-color: rgba($january, 0.5%); }

.previous-month-header--february { background-color: $february; }
.previous-month--february .speaker .h3,
.previous-month--february .speaker a { color: $february; }
.previous-month--february .speaker-profile-img:after { background-color: rgba($february, 0.5%); }