@media (max-width: 30em) {
  /* line 2, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  body {
    font-size: 0.9em; }

  /* line 6, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  .twelve-columns .span-four {
    width: 100%; }

  /* line 10, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  .site-header .site-logo {
    font-size: 3em; }

  /* line 14, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  .jumbotron {
    padding: 30px 10px;
    height: 160px; }

  /* line 19, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  .next-event-details {
    padding: 25px 0;
    height: 105px; }

  /* line 24, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  .next-event-details .next-event-date {
    font-size: 2.3em; }

  /* line 28, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  .introduction p {
    font-size: 1.4em; }

  /* line 32, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  .site-footer p {
    float: none; }

  /* line 33, /Users/chrisbell/Sites/front-end-london-v2/front-end-london/source/stylesheets/respond.css.scss */
  .made-by-many-logo {
    float: none; } }
