%container {
  max-width: 960px;
  margin: auto;
  padding: 20px;

  @media (min-width: $breakpoint-a) {
    padding: 30px;
  }

  @media (min-width: $breakpoint-b) {
    padding: 50px;
  }

  @media (min-width: $breakpoint-c) {
    padding: 50px 70px;
  }
}
