%heading {
  margin: 0;
  margin-bottom: .4em;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 22px;

  @media (min-width: $breakpoint-a) {
    font-size: 26px;
  }

  @media (min-width: $breakpoint-b) {
    font-size: 30px;
  }

  @media (min-width: $breakpoint-c) {
    font-size: 32px;
  }
}

%heading--small {
  font-size: 18px;

  @media (min-width: $breakpoint-a) {
    font-size: 22px;
  }

  @media (min-width: $breakpoint-b) {
    font-size: 26px;
  }
}

%heading--smaller {
  font-size: 16px;

  @media (min-width: $breakpoint-a) {
    font-size: 18px;
  }

  @media (min-width: $breakpoint-b) {
    font-size: 22px;
  }
}