---
style: minimal
title: Call for speakers – EpicFEL
---

<article class="call-for-speakers">
  <div class="call-for-speakers__container">
    <h1 class="call-for-speakers__heading">
      Call for speakers
    </h1>

    <section class="call-for-speakers__section">
      <p class="call-for-speakers__body">
        We are looking for talk proposals for the EpicFEL conference to be held on Saturday, 26 September 2015 in London.
      </p>
      <p class="call-for-speakers__body">
        If you have a talk proposal, please submit it using the submission form. If you know of one that you’d like to recommend, or have any questions regarding EpicFEL, please do tweet or email us at <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a>.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        Details
      </h2>
      <ul class="call-for-speakers__list">
        <li>Talks should be 30 minutes long</li>
        <li>We are looking for 6–8 talks</li>
        <li>Proposals should consist of a title, a short description of the contents of the talk and an estimate of the level of technical proficiency assumed from the audience</li>
        <li>The event will be held at Sadler’s Wells Theatre, London</li>
      </ul>
      <p class="call-for-speakers__body">
        <em>The deadline for submitting a proposal is 9 August 2015.</em>
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        Topics
      </h2>
      <p class="call-for-speakers__body">
        We’re looking for speakers to cover a wide variety of topics around technologies, tools, processes, and — most emphatically — <em>experiences</em> of front-end development and developers. We’re not looking for only technical talks: we’d love to hear proposals with fresh perspectives relating to the life and work of front-end developers.
      </p>
      <p class="call-for-speakers__body">
        For examples of what our previous talks look like, please have a look at the <a href="//www.youtube.com/watch?v=QaMsSvTqD2k&list=PLOSHQ_hfikSoJ2tOfCheuiPcEcbSa7WpO">talks from EpicFEL 2014</a>.
      </p>
      <p class="call-for-speakers__body">
        We’d also be interested in hearing from the community what kinds of topics you’d like to hear — tweet us or email.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        The selection process
      </h2>
      <ul class="call-for-speakers__list">
        <li><b>Vetting of talks:</b> to ensure we have relevant and interesting talks, we will be following up proposals with clarifying questions to the speakers</li>
        <li><b>Selection:</b> once the call for proposals has ended, we’ll put the vetted talks in front of a panel of FEL community members to choose a selection of talks that covers a broad range of topics and is relevant to varying levels of experience</li>
      </ul>
      <p class="call-for-speakers__body">
        Note: Unlike in the past two years, we’re not running an open vote on anonymised proposals to select the final speakers. We decided this partially based on participant feedback, but mainly because of how much time and effort it adds to the process. It was extremely interesting to experiment with this, and we think it definitely helps eliminate bias. However, we’re also keen to experiment with other ways of selecting talks and want to work to further improve the quality of our event.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        The perks
      </h2>
      <p class="call-for-speakers__body">
        We’re aiming to provide a great one-day conference in the centre of London which won’t require attendees to take annual leave — and for as low a cost as is possible (so you won’t have to ask your employer to pay for your conference). As such, we’re not paying our speakers, but we hope that the warm and fuzzy feeling you get for giving something back to the community will be incentive enough. However, speakers will receive free entry to the rest of the event. We would like to cover our speakers’ travel expenses, so please contact us so we can see if this would be possible <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a>.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        Examples of topics and talks we’d love to see
      </h2>
      <ul class="call-for-speakers__list">
        <li>Cutting-edge technological advances in the world of front-end development</li>
        <li>New ideas & crazy hacks</li>
        <li>Improving developers’ lives through tooling and process</li>
        <li>Mobile web development</li>
        <li>Hardware JS</li>
        <li>Fundamentals, in a modern light</li>
        <li>Performance and optimisation</li>
        <li>And finally: Whatever you want; this is your conference</li>
      </ul>
    </section>
  </div>
</article>
