---
style: minimal
title: Call for speakers – EpicFEL
---

<article class="call-for-speakers">
  <div class="call-for-speakers__container">
    <h1 class="call-for-speakers__heading">
      Call for speakers
    </h1>

    <section class="call-for-speakers__section">
      <p class="call-for-speakers__body">
        EpicFEL is happening on Saturday, 26 September 2015 in London.
      </p>
      <p class="call-for-speakers__body">
        We are looking for speakers, please <a href="https://docs.google.com/forms/d/1k0EfaYSnYB9Di8153K_cnrnlcJkhm27rswtqRwBJPbI/viewform">submit a proposal</a>. If you know someone that you think would give an awesome talk and you’d like to recommend them, let us know with a <a href="https://twitter.com/frontendlondon">tweet</a> or email to <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a>.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        Proposal details
      </h2>
      <ul class="call-for-speakers__list">
        <li>Talks are 30 minutes long</li>
        <li>Proposals should consist of a title, a short description of the contents of the talk and an estimate of the level of technical proficiency it’s aimed at</li>
        <li>We welcome all levels of speakers, especially first-timers — if you’re interested in giving a talk, we can help! </li>
        <!--li>We are looking for 6–8 talks</li-->
        <!--li>The event will be held at Sadler’s Wells Theatre, London</li-->
      </ul>
      <p class="call-for-speakers__body">
        <em>The deadline for <a href="https://docs.google.com/forms/d/1k0EfaYSnYB9Di8153K_cnrnlcJkhm27rswtqRwBJPbI/viewform">submitting a proposal</a> is 9 August 2015.</em>
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        Topics
      </h2>
      <p class="call-for-speakers__body">
        EpicFEL is aiming to cover a wide variety of topics around technologies, tools, processes, and — most emphatically — <em>experiences</em> of front-end development and developers.</p>

      <p class="call-for-speakers__body">
        We’re not just looking for technical talks: we’d love to hear proposals with fresh perspectives relating to the life and work of front-end developers.
      </p>
      <p class="call-for-speakers__body">
        To get a better idea of what we mean, take a look at the <a href="//www.youtube.com/watch?v=QaMsSvTqD2k&list=PLOSHQ_hfikSoJ2tOfCheuiPcEcbSa7WpO">talks from EpicFEL 2014</a>.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h3 class="call-for-speakers__subheading2">
        <b>Examples of topics and talks we’d love to see</b>
      </h3>

      <ul class="call-for-speakers__list">
        <li>New ideas, crazy hacks, advances in the world of front-end</li>
        <li>Improving developers’ lives — through tooling, process, practice or philosophy</li>
        <li>Mobile web development, front-end performance, the modern baseline, managing large codebases</li>
        <li>“How to use <i>X</i> to reinvent your development process”</li>
        <li>“What my experience of <i>Y</i> taught me about love, life and everything”</li>
      </ul>

      <p class="call-for-speakers__body">
        EpicFEL is all about the community, and we’d love to know what you want to hear about — <a href="https://twitter.com/frontendlondon">tweet</a> or <a href="mailto:fel@madebymany.co.uk">email us</a>!
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        The selection process
      </h2>
      <ul class="call-for-speakers__list">
        <li><b>Vetting of talks:</b> to ensure we have the best possible line-up for this year’s EpicFEL, we may be following up proposals with some extra questions to the speakers.</li>
        <li><b>Selection:</b> once the call for proposals has ended, we’ll put the vetted talks in front of a panel of FEL community members to choose a selection of talks that cover a broad range of topics and experience levels.</li>
      </ul>
      <p class="call-for-speakers__body">
        You may notice, we’re doing this a bit differently this year and won’t be running an open vote on the proposals as we have previously. We’re excited to experiment with a different way of curating EpicFEL to make sure the day is as diverse and useful as possible.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        The perks
      </h2>
      <p class="call-for-speakers__body">
        We’re aiming to provide a great one-day conference in the centre of London which won’t require attendees to take annual leave — and for as low a cost as is possible (so you won’t have to ask your employer to pay for your ticket).</p>
      <p class="call-for-speakers__body">
        Speakers will receive free entry to the event and we aim to cover our speakers’  travel expenses, so please contact us so we can see if this would be possible <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a>.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        Questions?
      </h2>
      <p class="call-for-speakers__body">
        If you have any questions about EpicFEL or submitting a proposal, you can <a href="https://twitter.com/frontendlondon">contact us on Twitter</a>, or by email at <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a>.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        <a href="https://docs.google.com/forms/d/1k0EfaYSnYB9Di8153K_cnrnlcJkhm27rswtqRwBJPbI/viewform">Submit a talk</a>
      </h2>
    </section>


    <section class="call-for-speakers__section">
      <p class="call-for-speakers__body">
        <a href="/epic">EpicFEL</a> &#149; <a href="/conduct">Code of conduct</a>
      </p>
    </section>

  </div>
</article>
