---
title: EpicFEL – A meetup for front-end developers
---

<main class="event">
  <%= partial 'info' %>

  <section class="awaiting-speakers">
    <div class="awaiting-speakers__container">
      <p class="awaiting-speakers__message">
        EpicFEL is a friendly, inclusive full-day conference built around the amazing front-end community in London. In its third year, the event is affordable (£25!), accessible, and will feature inspiring and insightful talks on a variety of topics.
      </p>
      <p class="awaiting-speakers__message">
        See our <%= link_to 'code of conduct', '/conduct' %>.
      </p>
    </div>
  </section>
</main>
