---
title: EpicFEL – A meetup for front-end developers
---

<main class="event">
  <%= partial 'info' %>

  <section class="awaiting-speakers">
    <div class="awaiting-speakers__container">
      <p class="awaiting-speakers__message">
        EpicFEL is a friendly, inclusive full-day conference built around the amazing front-end community in London. In its third year, the event is affordable (£25!), accessible and will feature inspiring and insightful talks on a variety of topics.
      </p>
      <h2 class="awaiting-speakers__heading">
        Speakers to be announced
      </h2>
      <p class="awaiting-speakers__message">
        We’re currently looking for speakers. If you would like to submit a talk, or recommend one, please visit our <%= link_to 'call for speakers page', '/epic/call-for-speakers' %>.
      </p>
    </div>
  </section>
</main>
