<%

latest_event = data.events.events.first
latest_event_date = Chronic.parse(latest_event.date)
is_event_upcoming = ((latest_event_date + latest_event.duration*60*60) > Time.now)

%>
<section class="event-information">
  <div class="site-width twelve-columns">

    <div class="column span-four">

      <h2>When is FEL?</h2>
      <p id="next-event-text-handle">
        <% if is_event_upcoming %>
          The next Front-end London will be on <%= latest_event_date.strftime('%A, %B %-d') %> at <%= latest_event_date.strftime('%l%P') %>—<%= (latest_event_date + latest_event.duration*60*60).strftime('%-l:%M%P') %>.<br /> 
          Doors open at 6:30pm.
        <% else %>
        The next Front-end London is yet to be announced. The event usually takes place on the last Thursday of the month.
        <% end %>
      </p>
    </div>

    <div class="column span-four">

      <h2>What to expect</h2>
      <p>Great, focused talks by some of the best front-end developers in London. Topped off with beer and an obligatory trip to the local pub.</p>

    </div>

    <div class="column span-four">

      <h2>The venue</h2>

      <p class="adr">
        <span class="company">Made by Many</span><br>
        <span class="street-address">
          Diespeker Wharf, 38 Graham Street
        </span><br>
        <span class="region">London</span>,
        <span class="postal-code">N1 8JX</span>
      </p>
      <a href="http://goo.gl/maps/yGu76">View on Google Maps</a>

    </div>

  </div>
</section>
