<section class="event-information">
  <div class="site-width twelve-columns">

    <div class="column span-four">

      <h2>When is FEL?</h2>
      <p>The next Front-end London will be on the 30<sup>th</sup> January, 2014. 7pm - 9:30pm.</p>

    </div>

    <div class="column span-four">

      <h2>What to expect</h2>
      <p>Great, focused talks by some of the best front-end developers in London. Topped off with beer and an obligatory trip to the local pub.</p>

    </div>

    <div class="column span-four">

      <h2>The venue</h2>

      <p class="adr">
        <span class="company">Made by Many</span><br>
        <span class="street-address">
          Diespeker Wharf, 38 Graham Street
        </span><br>
        <span class="region">London</span>,
        <span class="postal-code">N1 8JX</span>
      </p>
      <a href="http://goo.gl/maps/yGu76">View on Google Maps</a>

    </div>

  </div>
</section>