<section class="event-information">
  <div class="site-width twelve-columns">

    <div class="column span-four">

      <h2>When is FEL?</h2>
      <p>Front-end London is a monthly event, starting on January 17th, 2013. 7pm - late.</p>

    </div>

    <div class="column span-four">

      <h2>What to expect</h2>
      <p>Great, focussed talks by some of the best front-end developers in London, topped off with beer and pizza and an obligatory trip to the local pub.</p>

      <p>We'll also be having a Q&A session with the speakers, on a particular topic decided every month and we might even have some other little special talks / interviews to make it an even better event.</p>

    </div>

    <div class="column span-four">

      <h2>The venue</h2>
      <p class="adr">
        <span class="company">Made By Many</span><br>
        <span class="street-address">
          Diespeker Wharf<br>
          38 Graham Street
        </span><br>
        <span class="region">London</span><br>
        <span class="postal-code">N1 8JX</span>
      </p>
      <a href="https://maps.google.co.uk/maps?q=Made+by+Many,+Graham+Street,+London&hl=en&ll=51.532502,-0.098872&spn=0.00317,0.008465&sll=51.528642,-0.101599&sspn=0.811647,2.167053&oq=Made+by&hq=Made+by+Many,+Graham+Street,&hnear=London,+United+Kingdom&t=m&z=18">View on Google Maps</a>

    </div>

  </div>
</section>  