<section class="call-for-speakers">
  <div class="site-width">
    <h3>Want to speak at Front-end London?</h3>
    <p>
      If you feel like you have a talk that would fit the subject area of the event, then get in touch. Send us an <a href="mailto:chris@madebymany.co.uk">email</a>, or a <a href="http://twitter.com/cjbell88">tweet</a> and let us know a rough title of your talk.
    </p>
  </div>
</section>
<footer class="site-footer">
  <div class="site-width">
    <p>An event by <a href="http://madebymany.co.uk">Made by Many</a></p>

    <a href="http://madebymany.co.uk" class="made-by-many-logo">
      <span class="hidden">Made by Many</span>
    </a>
  </div>
</footer>