<header class="header">
  <div class="header__container">
    <div class="header__content">
      <%= link_to image_tag('fel.svg', alt: 'Front-end London',
            class: 'header__logo'), '/' %>
    </div>

    <h1 class="header__intro">
      Front-end London is a free monthly meetup about front-end development & design.
    </h1>

    <!--h2 class="header__call-for-speakers">
      <a href="/epic/">
        <div>EpicFEL</div>
        September 26
      </a>
    </h2-->
  </div>
</header>
