<header class="header">
  <div class="header__container">
    <div class="header__content">
      <%= link_to image_tag('fel-oval.svg', alt: 'Front-end London',
            class: 'header__logo'), '/' %>
      <%= link_to image_tag('mxm-dark.svg', alt: 'Presented by Made by Many',
            class: 'header__presented-by'), '//madebymany.com' %>
    </div>
  </div>
</header>
