<header class="site-header site-header--<%= Chronic.parse(data.events.events.first.date).strftime('%B').downcase %>">
  <div class="site-header__primary site-width">
    <a href="/" class="site-logo" id="fel">
      <span class="inner" title="Front-end London">
        F<span id="front">ront-</span>E<span id="end">nd </span>L<span id="london">ondon</span>
      </span>
    </a>
  </div>

  <%= yield_content :in_header %>
</header>