<section class="previous-events">
  <div class="site-content site-width previous-events-inner">

    <h2 class="divider-title previous-events-title">Previous events</h2>

    <div class="previous-months">

      <div class="previous-month previous-month--january">

        <header class="previous-month-header previous-month-header--january">
          <h3>17th January, 2013</h3>
        </header>

        <div class="previous-month-speakers speakers-list twelve-columns">

          <div class="speaker column span-four">
            <a class="speaker-profile" href="https://twitter.com/andyhume">
              <div class="speaker-profile-img">
                <img src="images/speakers/2013/01/andy-hume.jpg" width="140" height="140">
              </div>
              <h4 class="h3">Andy Hume</h4>
            </a>

            <em class="speaker-company">Guardian</em>
            <a class="speaker-slides" href="https://speakerdeck.com/andyhume/responsive-guardian">Responsive Guardian</a>
          </div>

          <div class="speaker column span-four">
            <a class="speaker-profile" href="https://twitter.com/darkgreener">
              <div class="speaker-profile-img">
                <img src="images/speakers/2013/01/anna-powell-smith.png" width="140" height="140">
              </div>
              <h4 class="h3">Anna Powell-Smith</h4>
            </a>

            <em class="speaker-company">Freelance</em>
            <a class="speaker-slides" href="http://anna.ps/talks/fel/">D3.JS: Data-driven Delight</a>
          </div>

          <div class="speaker column span-four">
            <a class="speaker-profile" href="https://twitter.com/charlieperrins">
              <div class="speaker-profile-img">
                <img src="images/speakers/2013/01/charlie-perrins.jpg" width="140" height="140">
              </div>
              <h4 class="h3">Charlie Perrins</h4>
            </a>

            <em class="speaker-company">Dare</em>
            <a class="speaker-slides" href="http://www.slideshare.net/CharliePerrins/accessibility-ui-development">Accessibility &amp; UI Development</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>