<section class="previous-events">
  <div class="site-content site-width previous-events-inner">

    <h2 class="divider-title previous-events-title">Previous events</h2>

    <div class="previous-months">
      <%= partial "previous_months/january" %>
      <%= partial "previous_months/february" %>
    </div>
  </div>
</section>