<section class="previous-events">
  <div class="site-content site-width previous-events-inner">

    <h2 class="divider-title previous-events-title">Previous events</h2>

    <div class="previous-months">
      <% data.events.events.each do |event| %>
        <% if Chronic.parse(event.date) < Time.now %>
        <%= partial "previous-event", :locals => {:event => event} %>
        <% end %>
      <% end %>
    </div>

  </div>
</section>