---
title: Front-end London - A meetup for front-end developers, hosted by Made by Many
---

    <h1 class="cfp-copy__heading">Call for speakers</h2>

    <p>Front-end London is a free monthly meet-up hosted by Made by Many that’s dedicated to all aspects of front-end development.</p>

    <p>Our aim is to bring front-end developers of all skill levels and technical backgrounds together into a friendly, inclusive and welcoming community.</p>

    <p>Each month we look for a diverse group of speakers to deliver thought-provoking talks on the technology, tools, processes and experiences of front-end developers.</p>

    <p>We’d like to invite <strong>you</strong> to submit a proposal for a talk at a future event. Please get in touch at <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a>.</p>

    <h2 class="cfp-copy__heading">Yes, we mean you</h2>

    <p>We’re keen to hear from first-timers, as well as more experienced speakers, and are happy to offer help to bring your proposal to life.</p>

    <p>There could be any number of reasons why you don’t consider yourself a speaker, but there’s absolutely no reason why your experience or knowledge is less relevant or useful than anyone else’s.</p>

    <p>If you’ve never spoken at an event before, but would like to get involved here are a few good resources to help you get started:</p>

    <ul>
      <li><a href="http://ladiesintech.com/speaker-notes/">http://ladiesintech.com/speaker-notes/</a></li>
      <li><a href="http://weareallaweso.me/">http://weareallaweso.me/</a></li>
    </ul>

    <h2 class="cfp-copy__heading">Details</h2>

    <p>To make a proposal, please send the title for your talk and a brief synopsis of the subject to <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a>.</p>

    <p>Talks should be 20 minutes long with a short Q&A session afterwards.</p>

    <p>If you need to travel from outside of London, we may be able to cover your travel expenses. Please get in touch if you'd like to know more (<a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a>).</p>

    <h2 class="cfp-copy__heading">Previous topics at front-end London</h2>

    <ul>
      <li>Anna Dahlström: <a href="https://www.youtube.com/watch?v=jryFxpDgi_M" class="content-link">10 things that excite me about the future</a></li>
      <li>Clare Evans: <a href="http://www.slideshare.net/clare_lisbeth/web-typography-in-digital-publishing" class="content-link">Why is using typography on web so difficult?</a></li>
      <li>Ian Feather: <a href="http://www.ianfeather.co.uk/presentations/front-end-ops/" class="content-link">Fundamentals of front-end ops</a></li>
      <li>Ruth John: <a href="https://speakerdeck.com/rumyra/building-apps-for-firefoxos" class="content-link">Building apps for Firefox OS</a></li>
      <li>Laura Kalbag: <a href="https://speakerdeck.com/laurakalbag/designing-for-accessibility" class="content-link">Designing for accessibility</a></li>
      <li>Patrick Hamann: <a href="https://speakerdeck.com/patrickhamann/why-performance-matters-measuring-your-websites-performance" class="content-link">Why performance matters</a></li>
      <li>Tom Ashworth: <a href="https://speakerdeck.com/phuu/frontendlondon-serviceworker-and-the-offline-web" class="content-link">ServiceWorker and the offline Web</a></li>
    </ul>

    <p>Here are a few ideas of sample topics that we’d like to hear about, but please get in touch with any ideas you might have.</p>

    <ul>
      <li>Cutting-edge technological advances in the world of front-end development</li>
      <li>New ideas & crazy hacks</li>
      <li>Improving developers’ lives through tooling and process</li>
      <li>Mobile web development</li>
      <li>Hardware JS</li>
      <li>Fundamentals, in a modern light</li>
      <li>Performance and optimisation</li>
      <li>New API’s and new browser features </li>
    </ul>

---
title: Call for speakers – Front-end London
---

<article class="call-for-speakers">
  <div class="call-for-speakers__container">
    <h1 class="call-for-speakers__heading">
      Code of Conduct
    </h1>

    <section class="call-for-speakers__section">
      <p class="call-for-speakers__body">
        All attendees, speakers, sponsors and volunteers at our conference are
        required to agree with the following code of call-for-speakers. Organisers will
        enforce this code throughout the event. We are expecting cooperation from
        all participants to help ensuring a safe environment for everybody.
      </p>
      <p class="call-for-speakers__body">
        tl;dr: Don’t be an arsehole
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        Need help?
      </h2>
      <p class="call-for-speakers__body">
        Contact us via <%= mail_to 'fel@madebymany.co.uk' %> or
        <%= link_to '@frontendlondon', '//twitter.com/frontendlondon' %>.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        The Quick Version
      </h2>
      <p class="call-for-speakers__body">
        Our conference is dedicated to providing a harassment-free conference
        experience for everyone, regardless of gender, age, sexual orientation,
        disability, physical appearance, body size, race, or religion
        (or lack thereof). We do not tolerate harassment of conference
        participants in any form. Sexual language and imagery is not appropriate
        for any conference venue, including talks, workshops, parties, Twitter and
        other online media. Conference participants violating these rules may be
        sanctioned or expelled from the conference without a refund at the
        discretion of the conference organisers.
      </p>
    </section>

    <section class="call-for-speakers__section">
      <h2 class="call-for-speakers__subheading">
        The Less Quick Version
      </h2>
      <p class="call-for-speakers__body">
        Harassment includes offensive verbal comments related to gender, age,
        sexual orientation, disability, physical appearance, body size, race,
        religion, sexual images in public spaces, deliberate intimidation,
        stalking, following, harassing photography or recording, sustained
        disruption of talks or other events, inappropriate physical contact,
        and unwelcome sexual attention.
      </p>
      <p class="call-for-speakers__body">
        Participants asked to stop any harassing behavior are expected to comply immediately.
      </p>
      <p class="call-for-speakers__body">
        Sponsors are also subject to the anti-harassment policy. In particular,
        sponsors should not use sexualised images, activities, or other material.
      </p>
      <p class="call-for-speakers__body">
        If a participant engages in harassing behavior, the conference organisers
        may take any action they deem appropriate, including warning the offender
        or expulsion from the conference with no refund.
      </p>
      <p class="call-for-speakers__body">
        If you are being harassed, notice that someone else is being harassed,
        or have any other concerns, please contact a member of conference staff immediately.
      </p>
      <p class="call-for-speakers__body">
        Conference staff will be happy to help participants contact venue security
        or police, provide escorts, or otherwise assist those experiencing
        harassment to feel safe for the duration of the conference.
        We value your attendance.
      </p>
      <p class="call-for-speakers__body">
        We expect participants to follow these rules at the conference venue and
        conference-related social events.
      </p>
    </section>
  </div>
</article>

