---
title: Front-end London - A meetup for front-end developers, hosted by Made by Many
---
<%

latest_event = data.events.events.first
latest_event_date = Chronic.parse(latest_event.date)
is_event_upcoming = ((latest_event_date + latest_event.duration*60*60) > Time.now)

%>

<div class="site-content site-width" role="main">

  <section class="cfp-copy">

    <h1 class="cfp-copy__heading">Call for speakers</h2>

    <p>Front-end London is a free monthly meet-up hosted by Made by Many that's dedicated to all aspects of front-end development. It’s an informal event at the heart of the developer community and we welcome attendees of all skill levels and technical backgrounds. Each event features three 20-minute talks with Q&amp;A sessions after each, and a trip to the pub at the end of the night.</p>

    <p>We’re looking for speakers to cover a wide variety of topics around technologies, tools, processes, and experiences of front-end development. However, we’re not just looking for technical talks, we’d love to hear proposals on anything vaguely related to front-end development or of interest to our community of developers. Scroll down for a list of our previous speakers and their talks.</p>

    <p>To make a proposal, please send the title for your talk and a brief synopsis of the subject to <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a></p>

    <p>We’re keen to hear from seasoned speakers and first-timers alike, so please do get in touch if you would like to propose a talk or make a recommendation for a speaker. For those who are new to speaking, but would like to get involved here are some words of encouragement. We would be happy to talk through any ideas you may have for a proposal and help you bring it to life.</p>

  </section>

  <% if (is_event_upcoming) %>
  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>
    <%= partial "speakers", :locals => {:event => latest_event, :is_event_upcoming => is_event_upcoming} %>
  </section>
  <% end %>

</div>
