---
title: Code of Conduct – Front-end London
---

<article class="conduct">
  <div class="conduct__container">
    <h1 class="conduct__heading">
      Code of Conduct
    </h1>

    <section class="conduct__section">
      <p class="conduct__body">
        All attendees, speakers, sponsors and volunteers at our conference are
        required to agree with the following code of conduct. Organisers will
        enforce this code throughout the event. We are expecting cooperation from
        all participants to help ensuring a safe environment for everybody.
      </p>
      <p class="conduct__body">
        tl;dr: <a href="https://www.youtube.com/watch?v=N_yJFLvmjJY">Be excellent to each other</a>
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        Need help?
      </h2>
      <p class="conduct__body">
        Contact us via <%= mail_to 'fel@madebymany.co.uk' %> or
        <%= link_to '@frontendlondon', '//twitter.com/frontendlondon' %>.
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        The Quick Version
      </h2>
      <p class="conduct__body">
        Our conference is dedicated to providing a harassment-free conference
        experience for everyone, regardless of gender, age, sexual orientation,
        disability, physical appearance, body size, race, or religion
        (or lack thereof). We do not tolerate harassment of conference
        participants in any form. Sexual language and imagery is not appropriate
        for any conference venue, including talks, workshops, parties, Twitter and
        other online media. Conference participants violating these rules may be
        sanctioned or expelled from the conference without a refund at the
        discretion of the conference organisers.
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        The Less Quick Version
      </h2>
      <p class="conduct__body">
        Harassment includes offensive verbal comments related to gender, age,
        sexual orientation, disability, physical appearance, body size, race,
        religion, sexual images in public spaces, deliberate intimidation,
        stalking, following, harassing photography or recording, sustained
        disruption of talks or other events, inappropriate physical contact,
        and unwelcome sexual attention.
      </p>
      <p class="conduct__body">
        Participants asked to stop any harassing behavior are expected to comply immediately.
      </p>
      <p class="conduct__body">
        Sponsors are also subject to the anti-harassment policy. In particular,
        sponsors should not use sexualised images, activities, or other material.
      </p>
      <p class="conduct__body">
        If a participant engages in harassing behavior, the conference organisers
        may take any action they deem appropriate, including warning the offender
        or expulsion from the conference with no refund.
      </p>
      <p class="conduct__body">
        If you are being harassed, notice that someone else is being harassed,
        or have any other concerns, please contact a member of conference staff immediately.
      </p>
      <p class="conduct__body">
        Conference staff will be happy to help participants contact venue security
        or police, provide escorts, or otherwise assist those experiencing
        harassment to feel safe for the duration of the conference.
        We value your attendance.
      </p>
      <p class="conduct__body">
        We expect participants to follow these rules at the conference venue and
        conference-related social events.
      </p>
    </section>
  </div>
</article>
