---
title: Front-end London - A New London Based Meetup for Front-end Developers, hosted by Made by Many
---

<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event">Next event</span>
      <span class="next-event-date">27<span class="date-ordinal">th</span> June, 2013</span>
      <span class="next-event-time">7pm - late <span class="next-event-bullet">&bullet;</span> Islington</span>
    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is a <strong>free event</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>We aim to cover a wide variety of topics such as CSS, Sass / LESS, RWD and JavaScript, with thought-provoking talks from a variety of speakers.</p>

    <a href="http://front-end-london-6.eventbrite.com/" class="cta--primary" target="_blank">Tickets 12th June</a>

    <form action="http://madebymany.us6.list-manage.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=12bc29b23c" method="post" name="subscribe-form">
      <p>Subscribe to our mailing list for ticket reminders.</p>
      <input type="email" value="" name="EMAIL" class="subscribe-form__email" id="EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="embedded-subscribe" class="subscribe-form__button cta cta-transition">
    </form>

  </section>

  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>

    <div class="speakers-list twelve-columns">

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/BPScott">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/06/ben.jpg" alt="Ben Scott" width="140" height="140">
          </div>
          <h3>Ben Scott</h3>
        </a>

        <em class="speaker-company">BBC</em>
        <p class="speaker-topic">It has been said that the web is 90% typography, but what makes good typography? Ben Scott shows how to get started creating readable text and how CSS preprocessors can be used to take some of the thinking away.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/clare_lisbeth">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/06/clare.jpg" alt="Clare Evans" width="140" height="140">
          </div>
          <h3>Clare Evans &amp; Mark Jones</h3>
        </a>

        <em class="speaker-company">Kaldor</em>
        <p class="speaker-topic"><strong>Modern Front-end Development workflows</strong>. How we're using tools such as Yeoman, Karma and Sass at Kaldor Group to increase productivity and improve our workflow.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/joshje">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/06/josh.jpeg" alt="Josh Emerson" width="140" height="140">
          </div>
          <h3>Josh Emerson</h3>
        </a>

        <em class="speaker-company">Clearleft</em>
        <p class="speaker-topic">How did you discover that you wanted to be a front end developer? For most of you it was in your spare time that you developed a passion for coding. Why don't schools offer a chance for kids to learn how to code?</p>

        <p class="speaker-topic">Josh has been running an after school coding club, or <a href="http://codeclub.org.uk/">Code Club</a>, at a primary school in Brighton. He'll talk about how Code Club came to be, why it's awesome and show some of the amazing things his kids have created.</p>
      </div>

    </div>

  </section>
</div>
