---
title: Front-end London - A New London Based Meetup for Front-end Developers, hosted by Made by Many 
---

<section class="jumbotron">
  <div class="next-event-details">
    <span class="next-event">Next event</span>
    <span class="next-event-date">17th January, 2013</span>
    <span class="next-event-time">7pm - late <span class="next-event-bullet">&bullet;</span> Islington</span>
  </div>
</section>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is a <strong>free event</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>We aim to cover a wide variety of topics such as CSS, SASS / LESS, RWD and Javascript, with thought-provoking talks from a variety of speakers.</p>

    <a href="http://front-end-london.eventbrite.co.uk/" class="primary-cta" target="_blank"><span>Reserve a place</span></a>

  </section>

  <section class="speakers">
    <h2 class="event-date">Speakers</h2>

    <div class="speakers-list twelve-columns">

      <div class="speaker column span-four">
        <a href="https://twitter.com/andyhume">
          <img src="images/speakers/2013/01/andy-hume.jpg" class="speaker-profile-image" width="140" height="140">
        </a>

        <h3>Andy Hume</h3>
        <em class="speaker-company">Guardian</em>
        <p class="speaker-topic">"A behind the scenes look at the client-side architecture and development process of the Guardian's new mobile first responsive site."</p>
      </div>

      <div class="speaker column span-four">
        <a href="https://twitter.com/darkgreener">
          <img src="images/speakers/2013/01/anna-powell-smith.png" class="speaker-profile-image" width="140" height="140">
        </a>

        <h3>Anna Powell-Smith</h3>
        <em class="speaker-company">&nbsp;</em>
        <p class="speaker-topic">"D3.js is the hottest data-visualisation library around. It is powerful and flexible, particularly strong on animations and transitions, and can be used to create anything from simple charts to complex network graphs and geographical layouts. We'll cover the most important concepts and gotchas when getting started with D3"</p>
      </div>

      <div class="speaker column span-four">
        <a href="https://twitter.com/charlieperrins">
          <img src="images/speakers/2013/01/charlie-perrins.jpg" class="speaker-profile-image" width="140" height="140">
        </a>

        <h3>Charlie Perrins</h3>
        <em class="speaker-company">Dare</em>
        <p class="speaker-topic">"Web Accessibility doesn't have to be difficult, or a barrier to creativity. This talk is for front-end developers who want to create complex and beautiful interface elements without compromising on accessibility, with practical examples drawn from the recent redesign of the Post Office website."</p>
      </div> 

    </div>

  </section>

</div>
