---
title: Front-end London - A New London Based Meetup for Front-end Developers, hosted by Made by Many
---

<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event">Next event</span>
      <span class="next-event-date">30<span class="date-ordinal">th</span> May, 2013</span>
      <span class="next-event-time">7pm - late <span class="next-event-bullet">&bullet;</span> Islington</span>
    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is a <strong>free event</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>We aim to cover a wide variety of topics such as CSS, Sass / LESS, RWD and JavaScript, with thought-provoking talks from a variety of speakers.</p>

    <a href="http://front-end-london-5.eventbrite.com/" class="cta--primary" target="_blank">Tickets 15th May</a>

    <form action="http://madebymany.us6.list-manage.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=12bc29b23c" method="post" name="subscribe-form">
      <p>Subscribe to our mailing list for ticket reminders.</p>
      <input type="email" value="" name="EMAIL" class="subscribe-form__email" id="EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="embedded-subscribe" class="subscribe-form__button cta cta-transition">
    </form>

  </section>

  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>

    <div class="speakers-list twelve-columns">

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/ianfeather">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/05/ian.jpg" alt="Ian Feather" width="140" height="140">
          </div>
          <h3>Ian Feather</h3>
        </a>

        <em class="speaker-company">Lonely Planet</em>
        <p class="speaker-topic">Web fonts have brought us beautiful online type but they've also brought us interminable blank screens while we wait for them to load. I'll highlight a few different alternatives for moving web fonts off the critical path, dealing with FOUT, and take a look at the performance benefits of each approach.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/siavashg">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/05/siavash.jpg" alt="Ruth John" width="140" height="140">
          </div>
          <h3>Siavash Ghorbani</h3>
        </a>

        <em class="speaker-company">TicTail</em>
        <p class="speaker-topic">The development of JavaScript at Tictail, from zero to Tictail and how Tictail became a front end application that runs in your browser.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/jaffathecake">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/05/jake.jpg" alt="Jake Archibald" width="140" height="140">
          </div>
          <h3>Jake Archibald</h3>
        </a>

        <em class="speaker-company">Google</em>
        <p class="speaker-topic">'<strong>Rendering without the lumpy bits</strong>'<br> We'll look at a series of real-world rendering issues and how to combat them, understanding why particular hacks work, and how sometimes working against the browser can trick it into performing better. Covering basic html layout and animation, GPU interaction and high-dpi (retina) considerations across browsers and devices.</p>
      </div>

    </div>

  </section>
</div>
