---
title: Front-end London - A New London Based Meetup for Front-end Developers, hosted by Made by Many
---

<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event">Next event</span>
      <span class="next-event-date">24<span class="date-ordinal">th</span> April, 2013</span>
      <span class="next-event-time">7pm - late <span class="next-event-bullet">&bullet;</span> Islington</span>
    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is a <strong>free event</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>We aim to cover a wide variety of topics such as CSS, Sass / LESS, RWD and JavaScript, with thought-provoking talks from a variety of speakers.</p>

    <a href="http://front-end-london-4.eventbrite.com/" class="primary-cta" target="_blank"><span>Tickets 10th April</span></a>

  </section>

  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>

    <div class="speakers-list twelve-columns">

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/ricky_clegg">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/04/ricky.png" alt="Ricky Clegg" width="140" height="140">
          </div>
          <h3>Ricky Clegg</h3>
        </a>

        <em class="speaker-company">Burrows</em>
        <p class="speaker-topic">Sencha Touch is a high-performance HTML5 mobile application framework that enables developers to build fast, impressive apps that work on iOS, Android, BlackBerry, Kindle Fire, and more. In his talk, Ricky will give an introduction to Sencha Touch and demo all its strengths in building high performance applications as well as showing how easy it is to create a native version of you application.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/Rumyra">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/04/ruth.jpg" alt="Ruth John" width="140" height="140">
          </div>
          <h3>Ruth John</h3>
        </a>

        <em class="speaker-company">TheLab</em>
        <p class="speaker-topic">'Building FirefoxOS apps' - This talk introduces what Firefox OS is and how to start building apps for it, using familiar front end technologies. We'll also delve into an exciting world of cool APIs that are currently being developed for devices - like the popular 'vibration API'.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/patrickhamann">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/04/patrick.jpg" alt="Patrick Hamann" width="140" height="140">
          </div>
          <h3>Patrick Hamann</h3>
        </a>

        <em class="speaker-company">the Guardian</em>
        <p class="speaker-topic">Sadly, our websites are getting increasingly slower every year. In the mean time, users are accessing these sites from a magnitude of devices and their expectations for load time are getting higher. Patrick will demonstrate how to accurately measure your websites performance and discuss a few techniques for achieving faster and perceived load.</p>
      </div>

    </div>

  </section>
</div>
