---
title: Front-end London - A New London Based Meetup for Front-end Developers, hosted by Made by Many
---

<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event">Next event</span>
      <span class="next-event-date">25<span class="date-ordinal">th</span> July, 2013</span>
      <span class="next-event-time">7pm - late <span class="next-event-bullet">&bullet;</span> Islington</span>
    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is a <strong>free event</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>We aim to cover a wide variety of topics such as CSS, Sass / LESS, RWD and JavaScript, with thought-provoking talks from a variety of speakers.</p>

    <a href="http://front-end-london-7.eventbrite.com/" class="cta--primary" target="_blank">Tickets 11th June</a>

    <form action="http://madebymany.us6.list-manage.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=12bc29b23c" method="post" name="subscribe-form">
      <p>Subscribe to our mailing list for ticket reminders.</p>
      <input type="email" value="" name="EMAIL" class="subscribe-form__email" id="EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="embedded-subscribe" class="subscribe-form__button cta cta-transition">
    </form>

  </section>

  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>

    <div class="speakers-list twelve-columns">

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/phae">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/07/frances.jpg" alt="Frances Berriman" width="140" height="140">
          </div>
          <h3>Frances Berriman</h3>
        </a>

        <em class="speaker-company">GDS</em>
        <p class="speaker-topic">Building amazing digital services is a dream we all have, but many of us are working for companies that aren't quite with the programme yet. So how on Earth would we manage to do it in one of the oldest, red-tapped, institutions in the UK?  I'll show you how we managed to restate the mission for the government's digital services using our Design Principles.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/shaundunne">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/07/shaun.jpg" alt="Shaun Dunne" width="140" height="140">
          </div>
          <h3>Shaun Dunne</h3>
        </a>

        <em class="speaker-company">SapientNitro</em>
        <p class="speaker-topic">A solid introduction to using Grunt if you’ve never used it before and maybe some additional goodies for those who are already using it. Whatever your experience with build scripts and task automation, you will leave with the urge to bin those Ant scripts and get up and running with Grunt.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/edds">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/2013/07/edd.jpg" alt="Edd Sowden" width="140" height="140">
          </div>
          <h3>Edd Sowden</h3>
        </a>

        <em class="speaker-company">GDS</em>
        <p class="speaker-topic">Responsive design might be easy enough for a small blog but how does it scale to a large government website? At GOV.UK we have managed to create a responsive site powered by over 18,000 lines of Sass. Learn how we scale our CSS approach to work across numerous teams while giving a coherent experience.</p>
      </div>

    </div>

  </section>
</div>
