---
title: Front-end London - A New London Based Meetup for Front-end Developers, hosted by Made by Many
---

<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event">Next event</span>
      <span class="next-event-date">28<span class="date-ordinal">th</span> March, 2013</span>
      <span class="next-event-time">7pm - late <span class="next-event-bullet">&bullet;</span> Islington</span>
    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is a <strong>free event</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>We aim to cover a wide variety of topics such as CSS, Sass / LESS, RWD and JavaScript, with thought-provoking talks from a variety of speakers.</p>

    <a href="http://front-end-london-3.eventbrite.com/" class="primary-cta" target="_blank"><span>Tickets 13th March </span></a>

  </section>

  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>

    <div class="speakers-list twelve-columns">

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/joshje">
          <div class="speaker-profile-img">
            <img src="images/speakers/2013/03/josh.jpeg" width="140" height="140">
          </div>
          <h3>Josh Emerson</h3>
        </a>

        <em class="speaker-company">Clearleft</em>
        <p class="speaker-topic">Fonts look great on high dpi displays, but bitmap images, not so much. Josh Emerson will discuss a few techniques for achieving resolution independence on your site including asset fonts, where your sites icons are stored inside a web font, and SVG graphics for vectors that can be interactive.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/philnash">
          <div class="speaker-profile-img">
            <img src="images/speakers/2013/03/phil.jpg" width="140" height="140">
          </div>
          <h3>Phil Nash</h3>
        </a>

        <em class="speaker-company">Mint Digital</em>
        <p class="speaker-topic">Talk synopsis coming soon.</p>
      </div>

      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/paulrobertlloyd">
          <div class="speaker-profile-img">
            <img src="images/speakers/2013/03/paul.png" class="speaker-profile-image" width="140" height="140">
          </div>
          <h3>Paul LLoyd</h3>
        </a>

        <em class="speaker-company">Clearleft</em>
        <p class="speaker-topic">Graphic designers have long honed their craft to meet the specific constraints of television. As web designers begin to understand the true nature of our own medium, isn’t about time we did the same?</p>
      </div>

    </div>

  </section>
</div>
