---
title: Front-end London - A New London Based Meetup for Front-end Developers, hosted by Made by Many
---

<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event">Next event</span>
      <span class="next-event-date">28<span class="date-ordinal">th</span> September, 2013</span>
      <span class="next-event-time">10am - 6pm <span class="next-event-bullet">&bullet;</span> Islington</span>

      <span class="day-event-banner">Special one day event</span>
    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is an <strong>evening meetup</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development. For one month only, we'll be turning Front-end London into a <strong>special one day event</strong>.</p>

    <p>We aim to cover a wide variety of topics such as CSS, Sass / LESS, RWD and JavaScript, with thought-provoking talks from a variety of speakers.</p>

    <a href="https://tito.io/front-end-london/one-day" class="cta--primary" target="_blank">Full event details</a>

    <form action="http://madebymany.us6.list-manage.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=12bc29b23c" method="post" name="subscribe-form">
      <p>Subscribe to our mailing list for ticket reminders.</p>
      <input type="email" value="" name="EMAIL" class="subscribe-form__email" id="EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="embedded-subscribe" class="subscribe-form__button cta cta-transition">
    </form>

  </section>

  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>

    <%#= partial "speakers" %>
    <p class="speakers__placeholder">Speakers for the one day event will be announced on the <strong>13th September</strong>. Until then, you can vote for which talks you'd like at the event using our <a href="http://fel-one-day-votr.herokuapp.com/">Votr app</a>.</p>

  </section>
</div>
