---
title: Front-end London One Day
layout: one-day
---

<section class="opening">
  <div class="wrap">
    <a href="http://madebymany.co.uk/" title="Made by Many">
      <img src="images/mxm-logo.svg" alt="Made by Many" class="mxm-logo">
    </a>

    <a href="/" title="Front-end London" class="logo">
      <div class="logo__fel">
        fel
      </div>
      <div class="logo__one-day">
        <span>One Day</span>
      </div>
    </a>

    <section class="signup">
      <span class="signup__details">
        Date TBA &bull; Islington, London
      </span>

      <p class="signup__blurb">
        Due to popular demand, we're bringing Front-end London to a larger
        audience for a daylong event of cutting edge, insightful talks about all
        aspects of front-end web design and development.</p>

      <form action="http://madebymany.us6.list-manage2.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=1bdf7de3c9" method="post" class="signup-form">
        <h2 class="signup-form__title">
          Sign up for announcements
        </h2>

        <input type="email" value="" name="EMAIL" class="signup-form__email" id="EMAIL" placeholder="Email address" required>
        <button type="submit" value="Subscribe" name="subscribe" class="signup-form__button">
          <span>Submit</span>
        </button>
      </form>
    </section>
  </div>
</section>

<section class="content">
  <section class="content__section">
    <h2 class="content__title content__title--main">
      Call for speakers
    </h2>

    <p>We're inviting the front-end community to submit proposals for the
       Front-end London day event. The event will take place around the end of
       <strong>August / beginning of September</strong> and as soon as we've
       finalised a date we'll let you know.</p>

    <p>We're interested in hearing proposals from anybody,
       <em>even if you've never spoken before</em>. Primarily we're looking for
       topics that will excite us and that we'd love to hear a talk about
       (we're developers too).</p>
  </section>

  <section class="content__section">
    <h2 class="content__title">
      Topics
    </h2>

    <p>The topics we're interested in hearing about are vast
       (see our previous speakers / talks over at Lanyard) they include,
       but are not limited to:</p>

    <ul>
      <li>Javascript</li>
      <li>CSS / Sass / LESS</li>
      <li>Performance</li>
      <li>Responsive Web Design</li>
      <li>Tools / Best practises / Process</li>
    </ul>

    <p>We aim to be on the cutting edge of front-end and have had some fantastic
       and thought provoking speakers previously and we'd love to carry on that
       trend with this event. We're aiming to bring the Front-end London
       experience to a larger audience in a unique location.</p>
  </section>

  <section class="content__section">
    <h2 class="content__title">
      Details
    </h2>

    <ul>
      <li><strong>Talks are usually 30 minutes long</strong>, with time allowed between for Q&amp;A.</li>
      <li>We're aiming for 6 speakers on the day, if we can fit in more we will.</li>
      <li>The event will be held in London (Exact location TBA).</li>
      <li>We may be able to cover your travel expenses, please get in touch.</li>
    </ul>

    <a href="mailto:frontendlondon@madebymany.co.uk?subject=Speaking Proposal" class="content__cta">
      <span>Get in touch</span>
    </a>
  </section>
</section>
