---
title: Front-end London One Day
layout: one-day
---

<section class="opening">
  <div class="wrap">
    <a href="http://madebymany.co.uk/" title="Made by Many">
      <img src="images/mxm-logo.svg" alt="Made by Many" class="mxm-logo">
    </a>

    <a href="/" title="Front-end London" class="logo">
      <div class="logo__fel">
        fel
      </div>
      <div class="logo__one-day">
        <span>One Day</span>
      </div>
    </a>

    <section class="signup">
      <span class="signup__details">
        October 4th 2014  &bull; Saddlers Well's, Islington, London
      </span>

      <p class="signup__blurb">
        Front-end London One Day, the larger, day long version of the free monthly meet-up hosted by Made by Many will be back in 2014! Get ready for a full day of cutting edge, insightful talks about all
        aspects of front-end design and development.</p>

      <form action="http://madebymany.us6.list-manage2.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=1bdf7de3c9" method="post" class="signup-form">
        <h2 class="signup-form__title">
          Sign up for announcements
        </h2>

        <input type="email" value="" name="EMAIL" class="signup-form__email" id="EMAIL" placeholder="Email address" required>
        <button type="submit" value="Subscribe" name="subscribe" class="signup-form__button">
          <span>Submit</span>
        </button>
      </form>
    </section>
  </div>
</section>

<section class="content">
  <section class="content__section">
    <h2 class="content__title content__title--main">
      Call for speakers
    </h2>

    <p class="body-copy">
      We are inviting the front-end community to submit talks for the upcoming 
      Front-end London One Day event (October 4th, Islington, London). This Call 
      for Presentations closes on August 24th.
    </p>

    <p class="body-copy">
      If you think you have something great to talk about, tell us all about it 
      and we'd be more than happy to consider your entry. If you know someone who 
      has something great to talk about, nominate them. If you are interested 
      in hearing about a particular topic, nominate the topic and we'll see what 
      we can do about making it happen
    </p>

    <p class="body-copy">
      Get in touch: <a href="mailto:fel@madebymany.co.uk" class="content-link">fel@madebymany.co.uk</a>.
    </p>
  </section>

  <section class="content__section">
    <h2 class="content__title">
      Topics
    </h2>

    <p class="body-copy">
      We’re looking for speakers to cover a wide variety of topics around technologies, tools, processes, and 
      experiences of front-end development. However, we’re not just looking for technical talks, we’d love to hear 
      proposals on anything vaguely related to front-end development or of interest to our community of developers.
    </p>

    <p class="body-copy">
      Here are some sample topics that we'd love to hear about:
    </p>

    <ul class="body-copy">
      <li>Cutting-edge technological advances in the world of front-end development.</li>
      <li>New Ideas &amp; Crazy Hacks.</li>
      <li>Improving developers’ lives through tooling and process.</li>
      <li>Mobile web development.</li>
      <li>Hardware JS.</li>
      <li>Fundamentals, in a modern light.</li>
      <li>Performance and optimisation.</li>
      <li>And finally: Whatever the hell you want; this is your conference.</li>
    </ul>

  </section>

  <section class="content__section">
    <h2 class="content__title">
      We Can Help
    </h2>

    <p class="body-copy">
      We’re just as keen to hear from and first-timers as we are seasoned speakers, so please do get in touch if you'd like
      to propose a talk. There could be any number of reasons why you don’t consider yourself a speaker, but there's absolutely
      no reason why it shouldn't be you up on that stage rather than anyone else. If you've never spoken at an event before, but would like to get
      involved, first read these <a href="http://weareallaweso.me/" class="content-link">words of encouragement</a> then get in touch and we'll be more than
      happy to help you bring your proposal to life.
    </p>

    <p class="body-copy">
      Get in touch: <a href="mailto:fel@madebymany.co.uk" class="content-link">fel@madebymany.co.uk</a>.
    </p>

  </section>

  <section class="content__section">
    <h2 class="content__title">
      The Perks
    </h2>

    <p class="body-copy">
      We're aiming to provide a great experience in the centr of London with very 
      little cost to attendees. As such, Perks will be limited to the warm and 
      fuzzy feeling you get for giving something back to the community. However, 
      you will receive free entry to the rest of the event and if you'd need travel 
      costs covered then please let us know and we'll do our best to help you out 
      with that too.
    </p>

  </section>

  <section class="content__section">
    <h2 class="content__title">
      The Selection Process
    </h2>

    <p class="body-copy">
      Here’s roughly how we pick our talks:
    </p>

    <p class="body-copy">
      First we anonymize submissions, in order to eliminate bias for or against 
      any speaker, then we open voting up to the community so that they can 
      select the talks that they want to see on the day. 
      Each member of the public that registers on our voting website will have 
      8 votes to cast against the proposals that they'd most like to see.
      Voting will start at the end of the submission process and will last for 
      two weeks. At the end of the voting period we'll De'anonymise the talks 
      and announce the speakers.
    </p>

    <p class="body-copy">
      <a href="http://fel-one-day-votr.herokuapp.com/proposals" class="content-link">Check out the voting app and the proposals from last years event</a>.
    </a>

  </section>

  <section class="content__section">
    <h2 class="content__title">
      Details
    </h2>

    <ul class="body-copy">
      <li><strong>Talks should be 30 minutes long</strong>, with time allowed afterward for Q&amp;A.</li>
      <li>There will be 8 speakers selected for the event.</li>
      <li>The event will be held in Saddlers Well's Theatre, Islington, London.</li>
      <li>We may be able to cover your travel expenses, please get in touch if you'd like to know more.</li>
    </ul>

    <a href="mailto:frontendlondon@madebymany.co.uk?subject=Speaking Proposal" class="content__cta">
      <span>Get in touch</span>
    </a>
  </section>
</section>
