---
title: Front-end London | 1 Day Event | Details Soon..
layout: one-day
extra_class: page--is-green
---

<div class="opening">
  <%= partial "header" %>

  <section class="signup">
    <h1 class="signup__title">1 day event</h1>

    <span class="signup__details">
      Date TBA <span class="bullet">•</span> Islington
    </span>

    <p class="signup__event-blurb">Due to popular demand, we're bringing the Front-end London meetup experience to a larger audience. We will be hosting a day long event in a larger space to accomodate more people. Get ready for a day of cutting edge, insightful talks about all aspects of front-end web design and development.</p>

    <h2 class="signup__cta">Sign up for announcements</h2>

    <form action="http://madebymany.us6.list-manage2.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=1bdf7de3c9" method="post" name="signup__form">
      <input type="email" value="" name="EMAIL" class="signup-form__email" id="EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="embedded-subscribe" class="signup-form__button cta cta-transition">
    </form>

  </section>

  <div class="fixed-bottom">
    <a href="http://madebymany.com" alt="Made by Many website" class="mxm-logo">
      <span class="mxm-icon">m</span><span class="visuallyhidden">ade by many</span>
    </a>

    <a href="#speaking" class="interested-in-speaking">
      Interested in speaking at Front-end London?
    </a>
  </div>

</div>
<div class="reveal">
  <div class="speaker" id="speaking">
    <h2 class="subtitle call-for-speakers">Call for speakers</h2>
    <p>We're inviting the front-end community to submit proposals for the Front-end London day event. The event will take place around the end of <strong>August / beginning of September</strong> and as soon as we've finalised a date we'll let you know.</p>

    <p>We're interested in hearing proposals from anybody, <em>even if you've never spoken before</em>. Primarily we're looking for topics that will excite us and that we'd love to hear a talk about (we're developers too).</p>

    <h2 class="subtitle">Topics</h2>

    <p>The topics we're interested in hearing about are vast (see our previous speakers / talks over at Lanyard) they include, but are not limited to:</p>

    <ul>
      <li>Javascript</li>
      <li>CSS / Sass / LESS</li>
      <li>Performance</li>
      <li>Responsive Web Design</li>
      <li>Tools / Best practises / Process</li>
    </ul>

    <p>We aim to be on the cutting edge of front-end and have had some fantastic and thought provoking speakers previously and we'd love to carry on that trend with this event. We're aiming to bring the Front-end London experience to a larger audience in a unique location.</p>

    <h2 class="subtitle">Details</h2>

    <ul>
      <li><strong>Talks are usually 30 minutes long</strong>, with time allowed between for Q&A.</li>
      <li>We're aiming for 6 speakers on the day, if we can fit in more we will.</li>
      <li>The event will be held in London (Exact location TBA).</li>
      <li>We may be able to cover your travel expenses, please get in touch.</li>
    </ul>

    <a href="mailto:frontendlondon@madebymany.co.uk?subject=Speaking Proposal" class="cta speaker__cta cta-transition">Get in touch</a>
  </div>
</div>
