.archived-speaker {
}

.archived-speaker__topic {
  @extend %heading;
  @extend %heading--small;
  margin: 0;
  margin-bottom: .1em;
  font-weight: normal;
  color: #fff;
}

.archived-speaker__name {
  margin: 0;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: normal;
  color: $color-highlight;
}

.archived-speaker__twitter {
  text-decoration: none;
  color: inherit;
}

.archived-speaker__resources {
  list-style-type: none;
  margin: 0;
  margin-top: .8em;
  padding: 0;
  font-size: 16px;
}

.archived-speaker__resource {
  display: inline-block;
  margin-right: 20px;
}

.archived-speaker__link {
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  color: $color-box-tertiary-contrast;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #fff;
  }
}

@media (min-width: 370px) {
  .archived-speaker__link {
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
    }
  }

  .archived-speaker__link--video {
    &:before {
      margin-right: 13px;
      border: 1px dashed transparent;
      border-width: 8px 13px;
      border-right: none;
      border-left-style: solid;
      border-left-color: #fff;
    }
  }

  .archived-speaker__link--slides {
    &:before {
      position: relative;
      top: -1px;
      width: 16px;
      height: 12px;
      margin-right: 16px;
      background-color: #fff;
      border: 2px solid $color-box-primary;
      border-top: none;
      border-left: none;
      box-shadow: 2px 2px 0 rgba(#fff, .4);
    }
  }
}

@media (min-width: $breakpoint-a) {
  .archived-speaker__name {
    font-size: 20px;
  }
}

@media (min-width: $breakpoint-b) {
  .archived-speaker__name {
    font-size: 22px;
  }

  .archived-speaker__resource {
    margin-right: 30px;
  }

  .archived-speaker__link {
    font-size: 20px;
  }
}
