.archived-event {
  @extend %container;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(#fff, .15);
  }
}

.archived-event__header {
  margin-bottom: 20px;
}

.archived-event__heading {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: $color-highlight;
}

.archived-event__writeups {
  @extend %body;
  color: $color-box-tertiary-contrast;
}

.archived-event__lineup {
  @extend %heading;
  @extend %heading--small;
  margin: 0;
  padding: 0;
  color: #fff;
}

.archived-event__speaker {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.archived-event__footer {
  margin-top: 30px;
}

.archived-event__writeups {
  a {
    color: #fff;
  }
}

@media (min-width: $breakpoint-a) {
  .archived-event__header {
    margin-bottom: 30px;
  }

  .archived-event__heading {
    font-size: 16px;
  }

  .archived-event__speaker {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $breakpoint-b) {
  .archived-event__header {
    margin-bottom: 40px;
  }

  .archived-event__heading {
    font-size: 18px;
  }
}
