.archive {
  @extend %background;
  background-color: $color-box-tertiary;
  font-family: $font-secondary;
  color: $color-box-tertiary-contrast;
}

.archive__container {
  @extend %container;
  padding-bottom: 0;
}

.archive__heading {
  @extend %heading;
  margin: 0;
  color: #fff;
}
