.awaiting-speakers {
  background-color: $color-box-primary;
  font-family: $font-secondary;
}

.awaiting-speakers__container {
  @extend %container;
}

.awaiting-speakers__heading {
  @extend %heading;
  color: #fff;
  margin-top:30px;
}

.awaiting-speakers__message {
  @extend %body;
  font-size: 20px;
  color: mix($color-box-secondary, #fff, 20%);

  a {
    color: #fff;
  }
}

@media (min-width: $breakpoint-a) {
  .awaiting-speakers__message {
    font-size: 24px;
  }
}

@media (min-width: $breakpoint-b) {
  .awaiting-speakers__message {
    font-size: 26px;
  }
}

@media (min-width: $breakpoint-c) {
  .awaiting-speakers__message {
    font-size: 28px;
  }
}
