.call-for-speakers {
  @extend %background;
}

.call-for-speakers__container {
  @extend %container;
}

.call-for-speakers__section {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.call-for-speakers__heading {
  @extend %heading;
}

.call-for-speakers__subheading {
  @extend %heading;
  @extend %heading--small;
}

.call-for-speakers__subheading2 {
  @extend %heading;
  @extend %heading--smaller;
}

.call-for-speakers__body {
  @extend %body;
  color: #444;

  a {
    color: $color-box-secondary;
  }
}

.call-for-speakers__list {
  @extend .call-for-speakers__body;
}

@media (min-width: $breakpoint-a) {
  .call-for-speakers__section {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $breakpoint-b) {
  .call-for-speakers__section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
