.conduct {
  @extend %background;
}

.conduct__container {
  @extend %container;
}

.conduct__section {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.conduct__heading {
  @extend %heading;
}

.conduct__subheading {
  @extend %heading;
  @extend %heading--small;
}

.conduct__body {
  @extend %body;
  color: #444;

  a {
    color: $color-box-secondary;
  }
}

@media (min-width: $breakpoint-a) {
  .conduct__section {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $breakpoint-b) {
  .conduct__section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
