.header {
  @extend %background;
  background-image: $gradient-fel;
}

.header__container {
  @extend %container;
  position: relative;
  background-image: image-url('background-small.jpg'), $gradient-fel;
  background-position: center bottom;
  background-blend-mode: multiply;
  background-size: cover;
}

.header__logo {
  display: inline-block;
  width: 100px;
}

.header__call-for-speakers {
  margin: 0;
  margin-top: 12px;
  color: white;

  a {
    @extend %button;
  }
}

.header__intro {
  margin: 0;
  margin-top: 3em;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
}

@media (min-width: $breakpoint-a) {
  .header__intro {
    font-size: 28px;
  }
}

@media (min-width: $breakpoint-b) {
  .header__container {
    background-image: image-url('background-large.jpg'), $gradient-fel;
  }

  .header__logo {
    width: 171px;
  }

  .header__intro {
    font-size: 36px;
  }

  .header__call-for-speakers {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: $breakpoint-b) {
  .header__call-for-speakers {
    margin: 50px;
  }
}

@media (min-width: $breakpoint-c) {
  .header__intro {
    font-size: 42px;
  }

  .header__call-for-speakers {
    margin: 50px 70px;
  }
}
