.info {
  @extend %background;
  background-color: $color-box-primary;
  font-family: $font-secondary;
}

.info__container {
  @extend %container;
  background-image: image-url('background-multiply-small.jpg');
  background-position: center -200px;
  background-size: 768px auto;
}

.info__heading,
.info__date__time,
.info__location {
  font-size: 20px;
}

.info__heading {
  @extend %heading;
  margin-bottom: 15px;
  color: #fff;
}

.info__date,
.info__date__day,
.info__date__time {
  display: block;
}

.info__date {
  margin-bottom: 20px;
}

.info__date__day {
  font-size: 32px;
  font-weight: bold;
  color: $color-highlight;
}

.info__date__time {
  letter-spacing: .1em;
  color: #fff;
}

.info__location {
  margin-bottom: 30px;
  color: #fff;
}

.info__address-anchor {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.info__tickets {
  @extend %text-box;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.info__tickets--available {
  border-color: transparent;
  background-color: $color-box-secondary;
  font-size: 28px;

  &:hover,
  &:focus {
    background-color: lighten($color-box-secondary, 5%);
  }
}

.info__tickets--unavailable {
  span {
    display: inline-block;
    max-width: 160px;
  }
}

@media (min-width: $breakpoint-a) {
  .info__date__day {
    font-size: 38px;
  }
}

@media (min-width: $breakpoint-b) {
  .info__container {
    background-position: center -300px;
    background-size: 1024px auto;
  }

  .info__content {
    position: relative;
  }

  .info__date__day {
    font-size: 42px;
  }

  .info__heading,
  .info__date__time,
  .info__location {
    font-size: 24px;
  }

  .info__location {
    margin-bottom: 0;
  }

  .info__tickets {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 50px;
    padding-left: 50px;
  }

  .info__tickets--available {
    font-size: 28px;
  }
}

@media (min-width: $breakpoint-c) {
  .info__container {
    background-image: image-url('background-multiply-large.jpg');
    background-position: center -400px;
  }

  .info__date__day {
    font-size: 48px;
  }

  .info__tickets--available {
    font-size: 36px;
  }
}
