.intro {
  @extend %background;

  &:after {
    @extend %container;
    content: "";
    display: block;
    height: 100px;
    padding: 0;
    background-image: image-url('background-small.jpg');
    background-position: center -100px;
    background-size: 768px auto;
  }
}

.intro__container {
  @extend %container;
  padding-top: 0;
}

.intro__heading {
  margin: 0;
  font-size: 28px;
  line-height: 1.2;
}

@media (min-width: $breakpoint-a) {
  .intro__heading {
    font-size: 32px;
  }
}

@media (min-width: $breakpoint-b) {
  .intro {
    &:after {
      height: 200px;
      background-position: center -100px;
      background-size: 1024px auto;
    }
  }

  .intro__heading {
    font-size: 42px;
  }
}

@media (min-width: $breakpoint-c) {
  .intro {
    &:after {
      height: 300px;
      background-image: image-url('background-large.jpg');
      background-position: center -100px;
    }
  }

  .intro__heading {
    font-size: 48px;
  }
}
