.mailing-list {
  @extend %background;
  background-color: $color-box-secondary;
  font-family: $font-secondary;
}

.mailing-list__container {
  @extend %container;
}

.mailing-list__heading {
  @extend %heading;
  color: #fff;
}

.mailing-list__body {
  @extend %body;
  margin-bottom: 20px;
  color: light-on-dark($color-box-secondary);

  a {
    color: #fff;
  }
}

.mailing-list__email,
.mailing-list__submit {
  border-radius: 0;
  -webkit-appearance: none;
  background-color: transparent;
}

.mailing-list__email {
  @extend %text-box;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-color: transparent;
  background-color: #fff;
  font-family: $font-secondary;
  font-size: 20px;
}

.mailing-list__submit {
  @extend %button;
}

@media (min-width: $breakpoint-a) {
  .mailing-list__form {
    position: relative;
    max-width: 640px;
    padding-right: 140px + 20px;
  }

  .mailing-list__email {
    margin-bottom: 0;
  }

  .mailing-list__submit {
    position: absolute;
    width: 140px;
    top: 0;
    right: 0;
  }
}

@media (min-width: $breakpoint-b) {
  .mailing-list__form {
    padding-right: 180px + 20px;
  }

  .mailing-list__email {
    font-size: 24px;
  }

  .mailing-list__submit {
    width: 180px;
  }
}

@media (min-width: $breakpoint-c) {
  .mailing-list__email {
    font-size: 26px;
  }
}
