.speaker {
}

.speaker__photo {
  display: none;
}

.speaker__name {
  margin: 0;
  margin-bottom: .5em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .2em;
  color: $color-highlight;
}

.speaker__twitter {
  text-decoration: none;
  color: inherit;
}

.speaker__topic {
  @extend %heading;
  margin-bottom: .4em;
  color: #fff;
}

.speaker__description {
  @extend %body;
  color: $color-box-secondary-contrast;

  a {
    color: #fff;
  }
}

@media (min-width: $breakpoint-a) {
  .speaker__name {
    font-size: 20px;
  }
}

@media (min-width: $breakpoint-b) {
  .speaker,
  .speaker__info {
    overflow: hidden;
  }

  .speaker__photo {
    display: block;
    float: left;
    max-width: 100px;
    margin: 0;
    margin-right: 30px;
  }

  .speaker__photo__img {
    display: block;
    max-width: 100%;
  }

  .speaker__photo__placeholder {
    width: 100px;
  }

  .speaker__name {
    font-size: 19px;
  }
}

@media (min-width: $breakpoint-c) {
  .speaker__photo {
    max-width: 140px;
    margin-right: 40px;
  }

  .speaker__photo__placeholder {
    width: 140px;
  }
}

.speaker__photo__placeholder {
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 100%;
}

.speaker__photo.is-patrick:hover,
.speaker__photo.is-patrick:focus {
  background: url("/images/speakers/2015/08/patrick-hamann-rollover.jpg") center no-repeat;
  background-size: cover;
  & img {
    opacity:0;
  }
}
